*{
	box-sizing: border-box;
}

body {
	margin: 0;
}
header{
	background-color: #274a52ff;
	color: #fff;
	padding: 30px;
}

header a{
	text-decoration: none;
	color: #c6e0e7ff;
	font-family: arial, 'sans-serif';
	margin-right: 20px;
}

header a:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}

header .header-title {
	display: inline-block;
	font-family: sans-serif;
}

header .menu {
	display: inline-block;
	float: right;
	position: relative;
	top: 30px;
}

.body-contain section {
	font-family: arial;
	margin: 50px 50px 0 50px;
	padding: 10px;
	border-left: 2px solid #c6e0e7ff;
	border: 1px dotted black;
	height: auto;
}

.body-contain section a{
	color: #000;
	text-decoration: none;
}

.body-contain section i{
	font-size: 20px;
}

.footer {
	background-color: #1f2526ff;
	margin-top: 50px;
	color: grey;
	text-align: center;
}

.footer div{
	display: inline-block;
	margin-left: 70px;
	margin-top: 50px;
	padding-right: 70px;
}